version: '3.3'

# copied from https://github.com/pschiffe/docker-pdns/blob/master/docker-compose.yml
# with little changes
services:
  mariadb:
    image: mariadb:10.11
    restart: always
    networks:
      pdns:
        aliases:
          - db
          - mysql
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data/db:/var/lib/mysql:z
    environment:
      - MYSQL_ROOT_PASSWORD={{ DNS_PRIMARY_MYSQL_PASSWORD }}
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      timeout: 10s
      retries: 5

  pdns-master:
    image: pschiffe/pdns-mysql:alpine
    hostname: ns1.protokolla.fi
    restart: always
    ports:
      - '53:53/tcp'
      - '53:53/udp'
    networks:
      pdns:
        ipv4_address: 172.6.0.20
        aliases:
          - pdns
    volumes:
      - /etc/localtime:/etc/localtime:ro
    environment:
     PDNS_gmysql_password: {{ DNS_PRIMARY_MYSQL_PASSWORD }}
     PDNS_gmysql_dnssec: "yes"
     PDNS_master: "yes"
     PDNS_api: "yes"
     PDNS_api_key: "secret"
     PDNS_webserver: "yes"
     PDNS_webserver_address: "0.0.0.0"
     PDNS_webserver_allow_from: "172.6.0.0/16"
     PDNS_version_string: "anonymous"
     PDNS_default_ttl: "1500"
     PDNS_allow_axfr_ips: "141.147.62.229,213.239.242.238,213.133.105.6,193.47.99.3"
     PDNS_also_notify: "141.147.62.229,213.239.242.238,213.133.105.6,193.47.99.3"
      # - PDNS_only_notify=213.133.105.6
    depends_on:
      - mariadb

  pdns-admin-uwsgi:
    image: pschiffe/pdns-admin-uwsgi
    restart: always
    networks:
      pdns:
        aliases:
          - pdns-admin-uwsgi
    volumes:
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PDNS_ADMIN_SQLA_DB_PASSWORD='{{ DNS_PRIMARY_MYSQL_PASSWORD }}'
      - PDNS_VERSION=4.7
      - PDNS_API_KEY=secret
    depends_on:
      - mariadb
      - pdns-master

  pdns-admin-static:
    image: pschiffe/pdns-admin-static
    restart: always
    networks:
      - pdns
    ports:
      - '127.0.0.1:8040:80'
    volumes:
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - pdns-admin-uwsgi

networks:
  pdns:
    ipam:
      config:
        - subnet: 172.6.0.0/16
          gateway: 172.6.0.1
