version: '3.4'

services:
  statuspostgres:
    image: postgres
    restart: always
    container_name: status_postgres
    volumes:
      - ./db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=gatus
      - POSTGRES_USER=username
      - POSTGRES_PASSWORD=password

  gatus:
    image: twinproduction/gatus:latest
    restart: always
    container_name: gatus
    labels:
      # routing
      - "traefik.enable=true"
      - "traefik.http.routers.membersstatus.rule=Host(`status.protokolla.fi`)"
      # SSL
      - "traefik.http.routers.membersstatus.entrypoints=websecure"
      - "traefik.http.routers.membersstatus.tls.certresolver=httpchallenge"
    volumes:
      - ./config:/config
    depends_on:
      - statuspostgres

  traefik:
    image: traefik:latest
    container_name: traefik
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.httpchallenge.acme.httpchallenge=true"
      - "--certificatesresolvers.httpchallenge.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.httpchallenge.acme.email={{ SYSADMIN_EMAIL }}"
      - "--certificatesresolvers.httpchallenge.acme.storage=/letsencrypt/acme.json"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    restart: always
