skip-invalid-config-update: true
disable-monitoring-lock: true

alerting:
  matrix:
    server-url: "https://protokolla.fi"
    access-token: "{{ MATRIX_PROTOKOLLA_ACCESS_TOKEN }}"
    internal-room-id: "#status:protokolla.fi"
  discord:
    webhook-url: "{{ DISCORD_PROTOKOLLA_TESTAUSSERVERI_WEBHOOK }}"

ui:
  title: status - protokolla.fi
  header: status - protokolla.fi
  description: Protokolla.fi palveluiden status-sivu.
  logo: 
  buttons:
    - name: "[SEARX]"
      link: https://searx.fi
    - name: "[INVIDIOUS]"
      link: https://invidious.protokolla.fi
    - name: "[PASTEBIN]"
      link: https://pastebin.fi

endpoints:
  # ***************
  # protokolla.fi
  # ***************
  - name: protokolla.fi - website
    interval: 1m
    group: 01 - protokolla.fi
    url: "https://protokolla.fi"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: matrix
        send-on-resolved: true
      - type: discord
        send-on-resolved: true
  - name: protokolla.fi - bitwarden
    interval: 1m
    group: 01 - protokolla.fi
    url: "https://vault.protokolla.fi"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: matrix
        send-on-resolved: true
      - type: discord
        send-on-resolved: true
  - name: protokolla.fi - hedgedoc
    interval: 1m
    group: 01 - protokolla.fi
    url: "https://doc.protokolla.fi"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: matrix
        send-on-resolved: true
      - type: discord
        send-on-resolved: true
  - name: protokolla.fi - invidious
    interval: 1m
    group: 01 - protokolla.fi
    url: "https://invidious.protokolla.fi"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: matrix
        send-on-resolved: true
      - type: discord
        send-on-resolved: true
  - name: protokolla.fi - git
    interval: 1m
    group: 01 - protokolla.fi
    url: "https://git.protokolla.fi"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: matrix
        send-on-resolved: true
      - type: discord
        send-on-resolved: true
  # ***************
  # protokolla.fi DNS
  # ***************
  - name: protokolla.fi - DNS - dashboard
    interval: 1m
    group: 02 - protokolla.fi DNS
    url: "https://dns.protokolla.fi"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: matrix
        send-on-resolved: true
      - type: discord
        send-on-resolved: true
  - name: protokolla.fi - NS1 - resolver TCP
    interval: 1m
    group: 02 - protokolla.fi DNS
    url: "tcp://ns1.protokolla.fi:53"
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: matrix
        send-on-resolved: true
      - type: discord
        send-on-resolved: true
  - name: protokolla.fi - NS1 - resolver UDP
    interval: 1m
    group: 02 - protokolla.fi DNS
    url: "udp://ns1.protokolla.fi:53"
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: matrix
        send-on-resolved: true
      - type: discord
        send-on-resolved: true
  - name: protokolla.fi - NS2 - resolver TCP
    interval: 1m
    group: 02 - protokolla.fi DNS
    url: "tcp://ns2.protokolla.fi:53"
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: matrix
        send-on-resolved: true
      - type: discord
        send-on-resolved: true
  - name: protokolla.fi - NS2 - resolver UDP
    interval: 1m
    group: 02 - protokolla.fi DNS
    url: "udp://ns2.protokolla.fi:53"
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: matrix
        send-on-resolved: true
      - type: discord
        send-on-resolved: true
  # ***************
  # imap.fi
  # ***************
  - name: imap.fi - website
    interval: 1m
    group: 05 - imap.fi
    url: "https://imap.fi"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: matrix
        send-on-resolved: true
      - type: discord
        send-on-resolved: true
  - name: imap.fi - server
    interval: 1m
    group: 05 - imap.fi
    url: "https://server.imap.fi"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: matrix
        send-on-resolved: true
      - type: discord
        send-on-resolved: true
  # ***************
  # pastebin.fi
  # ***************
  - name: pastebin.fi - frontend
    interval: 1m
    group: 04 - pastebin.fi
    url: "https://pastebin.fi"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: matrix
        send-on-resolved: true
      - type: discord
        send-on-resolved: true
  - name: pastebin.fi - backend
    interval: 1m
    group: 04 - pastebin.fi
    url: "https://api.pastebin.fi"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: matrix
        send-on-resolved: true
      - type: discord
        send-on-resolved: true
  # ***************
  # searx.fi
  # ***************
  - name: searx.fi
    interval: 1m
    group: 03 - searx.fi
    url: "https://searx.fi"
    conditions:
      - "[STATUS] == 200"
    alerts:
      - type: matrix
        send-on-resolved: true
      - type: discord
        send-on-resolved: true
  # ***************
  # SERVERS
  # ***************
  - name: metso
    interval: 1m
    group: 06 - servers
    url: "icmp://metso.protokolla.fi"
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: matrix
        send-on-resolved: true
      - type: discord
        send-on-resolved: true
  - name: vps01
    interval: 1m
    group: 06 - servers
    url: "icmp://vps01.protokolla.fi"
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: matrix
        send-on-resolved: true
      - type: discord
        send-on-resolved: true
  - name: vps02
    interval: 1m
    group: 06 - servers
    url: "icmp://vps02.protokolla.fi"
    conditions:
      - "[CONNECTED] == true"
    alerts:
      - type: matrix
        send-on-resolved: true
      - type: discord
        send-on-resolved: true
