version: '3.3'

services:
  mysql:
    image: mariadb:10.11
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./data/db:/var/lib/mysql:z
    environment:
     MYSQL_ROOT_PASSWORD: "{{ DNS_SECONDARY_MYSQL_PASSWORD }}"
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      timeout: 10s
      retries: 5

  pdns-slave:
    image: pschiffe/pdns-mysql:alpine
    hostname: ns2.protokolla.fi
    restart: always
    ports:
      - '53:53/tcp'
      - '53:53/udp'
    volumes:
      - /etc/localtime:/etc/localtime:ro
    environment:
     PDNS_slave: "yes"
     PDNS_slave_cycle_interval: "60"
     PDNS_log_dns_details: "on"
     PDNS_gmysql_password: "{{ DNS_SECONDARY_MYSQL_PASSWORD }}"
     PDNS_version_string: "anonymous"
     PDNS_disable_axfr: "yes"
     PDNS_allow_notify_from: "135.181.59.245"
     SUPERMASTER_IPS: "135.181.59.245"